# Apna Discord Bot Token yahan daalein
# Token lene ke liye: https://discord.com/developers/applications
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# Bot ka prefix (jaise !play, ?play, etc.)
BOT_PREFIX=!
